<div class="mt-4">
    <h3>Dang khoa hoc</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="courseName">Ten Khoa hoc</label>
            <input type="text" name="name" class="form-control" id="courseName" placeholder="ten khoa hoc">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="videoId">VideoId</label>
            <input type="text" name="videoId" class="form-control" id="videoId" placeholder="videoId">
        </div>
        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div>